<br><div>
  <%= link_to "All Users", admin_path, class: "btn btn-primary btn-lg btn-block" %>
</div> <br />
<div>
  <%= link_to "Create User", admin_new_path, class: "btn btn-primary btn-lg btn-block" %>
</div> <br />

<%= link_to "Back", root_path %>