<% if current_user %>
<header>
	<div class="nav-container">
		<div id="logo">
			<%= link_to (image_tag 'logo.jpg'), root_path %>
		</div>
		<% if current_user %>
			<nav>
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Admin", admin_dashboard_path%></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% end %>
	</div>
</header>
<% end %>