<h3>Advanced Search</h3>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :test_plan_search %><br />
    <%= f.text_field :test_plan_search %>
  </div>
  
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>