<h2>Search Results</h2>
<% if @specimen.blank? %>
  <h4>There are no materials containing <%= params[:search] %>.</h4>
  <% else %>
  <table class="table">
  	<thead>
  		<tr>
  			<th>
  			</th>
  			<th>Test Plan</th>
  			<th>Cushion</th>
  			<th>Seat Model</th>
  			<th>Foam A</th>
  			<th>Fireblock Type</th>
  		</tr>
  	</thead>
  	<tbody>
  	  <%= render @specimen %>
  	</tbody>
  </table>
<% end %>
<div class="pagination">
  <%= will_paginate @specimen %>
</div>
<p><%= link_to "Back", simple_search_path %></p>