<% if @specimen.blank? %>
  <h4>There are no materials containing the <%= params[:search] %>.</h4>
  <% else %>
  <table class="table">
  	<thead>
  		<tr>
  			<th>
  			</th>
  			<th>Test Plan</th>
  			<th>Cushion</th>
  			<th>Seat Model</th>
  			<th>Foam A</th>
  			<th>Foam B</th>
  			<th>Fireblock Type</th>
  		</tr>
  	</thead>
  	<tbody>
  	  <%= render @specimen %>
  	</tbody>
  </table>
<% end %>

<%= link_to "Back", search_path %>
