<table border="0">
  <tr>
    <th>ID</th>
    <th>Test Plan</th>
    <th>Cushion</th>
    <th>Foam A Material</th>
  </tr>
  <tr>
    <td><%= @specimen.id %></td>
    <td><%= @specimen.test_plan %></td>
    <td><%= @specimen.cushion %></td>
    <td><%= @specimen.foam_a_material %></td>
  </tr>
</table>