.wrapper {
  min-height: 700px;
  background-image: url(sign_in.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.form {
  text-align:center;
  left: 0;
  line-height: 20px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  
}

.form-background {
  background-color: lightgrey;
  opacity:0.5;
  width: 300px;
  padding:10px;
}
