//BODY//
/*
    *= require_self
    *= require static
    *= require admin
*/
body {
  background-color: #ffffff;
  color:#000000;
}

//SIGN IN PAGE//

.sign-in {
  text-align: center;
  padding-top: 13%;
  margin-bottom:50px;
}

//NAVBAR//
nav .brand-logo {
  position:absolute;
  font-size: 2.1rem;
  padding: 0px;
}

nav ul {
  margin-right: 30px;
}

.brand-logo img {
  width: 175px;
  margin-left: 35px;
}


#logo img {
  width: 300px;
}

//HOME PAGE BANNER//

#banner-color {
  background-color: #42a5f5;
  background-image: radial-gradient(circle farthest-side at right bottom, #1565c0 34%, #0d47a1 100%);
}

section#banner-color {
  margin-top: 0;
}

.main-title {
  color: #FFF;
}

.row .col.s4 {
  margin-top: 9%;
}

.row .col.s7 {
  font-size: 17px;
  color: #e0e0e0;
  padding-bottom: 100px;
  margin-top: 10%;
}
//TABLES//
table {
  border-collapse:collapse;
  width:100%;
  margin:13px 0;
}

th, td {
  padding: 8px;
  text-align:left;
  border-bottom: 1px solid #c8c8c8;
}

tr:hover {
  background-color:#cce0ff;
}


//GLOBAL//
a {
  text-decoration:none;
  color:#000000;
}

a:hover {
  color: #66a3ff;
}

.pagination {
  text-align: center;
  padding: 10px;

  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #66a3ff;
  }
  a {
    border: 1px solid #dddddd;
    color: #000;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #66a3ff;
      color: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page{
    border-width: 2px;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em
  }
}


h2{margin:0};
