//BODY//
/*
    *= require_self
    *= require static
    *= require admin
*/
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 1.5;

  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color:#000000;
}

//HEADER//

header {
  display:block;
  top: 0;
  border-bottom: 3px solid #000000;
  margin-bottom:20px;
}

header #logo {
  float:left;
}

#logo img {
  width: 300px;
}

nav ul {
  font-size: 17px;
  list-style:none;
  margin-top:60px;
  float:right;
}

header li {
  float:left;
  display: inline;
  padding:3px 15px;
}

//TABLES//
table {
  border-collapse:collapse;
  width:100%;
  margin:13px 0;
}

th, td {
  padding: 8px;
  text-align:left;
  border-bottom: 1px solid #c8c8c8;
}

tr:hover {
  background-color:#cce0ff;
}


//GLOBAL//

a {
  text-decoration:none;
  color:#000000;
}

a:hover {
  color: #66a3ff;
}

.container {
  width: 75%;
  margin: auto;
  overflow: hidden;
}

.nav-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.pagination {
  text-align: center;
  padding: 10px;
  
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #66a3ff;
  }
  a {
    border: 1px solid #dddddd;
    color: #000;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #66a3ff;
      color: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page{
    border-width: 2px;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em
  }
}

//RESET//

h2{margin:0};
