h2 {
  text-align:center;
}

form.search_form {
  padding-top:7px;
}

form#new_search.new_search {
  padding:10px;
}

.box {
  margin:auto;
  margin-top:15px;
  width:60%;
  text-align:center;
  border:1.5px solid;
  padding:10px;
  font-size: 17px;
  border-radius:10px;
}

input[type=text] {
  font-size: 13px;
  width:60%;
  padding: 12px 20px;
  margin:10px 0;
  border: 2px solid #ccc;
}

input[type=submit] {
  font-size:20px;
  width:55%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
}

p {
  text-align:center;
}