h2 {
  text-align:center;
}

.form-box {
  border: 2px solid;
  padding: 20px;
  text-align:center;
  border-radius:10px;
  font-size:17px;
  margin:20px 0 20px 0;
}

input[type=text] {
  font-size: 13px;
  width:50%;
  padding: 12px 20px;
  margin:10px 0;
  border: 2px solid #ccc;
}

input#speciman_foam_a_percent,#speciman_foam_b_percent,#speciman_foam_c_percent,#speciman_foam_d_percent {
  font-size: 13px;
  padding:12px 20px;
  margin:10px 0;
  border: 2px solid #ccc;
}

input[type=submit] {
  font-size:20px;
  width:55%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
}

a {
  text-decoration:none;
  color:#000000;
}

a:hover {
  text-decoration:underline;
  color: #66a3ff;
}