.welcome {
  font-size:30px;
  font-weight:bold;
  margin-top:5%;
  text-align: center;
}

p {
  text-align:center;
}

.buttons {
  text-align:center;
}

.button {
  background-color:none;
  border: 2px solid;
  border-radius:3px;
  display:inline-block;
  color: #ccc;
  width:25%;
  padding: 20px 25px 17px;
  margin: 30px 50px 20px 50px;
  display: inline-block;
  font-size:16px;
  margin:4px 2px;
  
}